<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8">
    <title>信息学院本科生毕业设计管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    {% load static %}
    <link id="bs-css" href="{% static 'css/bootstrap-cerulean.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/charisma-app.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.print.css' %}" rel='stylesheet' media='print'>
    <link href="{% static 'bower_components/chosen/chosen.min.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/colorbox/example3/colorbox.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/responsive-tables/responsive-tables.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/jquery.noty.css' %}" rel='stylesheet'>
    <link href="{% static 'css/noty_theme_default.css' %}" rel='stylesheet'>
    <link href="{% static 'css/elfinder.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/elfinder.theme.css' %}" rel='stylesheet'>
    <link href="{% static 'css/jquery.iphone.toggle.css' %}" rel='stylesheet'>
    <link href="{% static 'css/uploadify.css' %}" rel='stylesheet'>
    <link href="{% static 'css/animate.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/bootstrap-treeview.css' %}" rel='stylesheet'>
    <link href="{% static 'css/bootstrap-table.css' %}" rel='stylesheet'>
    <link href="{% static 'css/bootstrap-select.css' %}" rel='stylesheet'>
    <link href="{% static 'css/summernote.css' %}" rel='stylesheet'>
    <link href="{% static 'css/plugin/font-awesome.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel='stylesheet'>
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="~/Content/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>



    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{% static 'img/logo3.png' %}">
    <style type="text/css">
    .uploadtxt{ height:35px; border:1px solid #cdcdcd; width:212px;}
    .uploadfile{ position:absolute; top:0px; right:0px; height:35px; opacity:0; width:212px }
    </style>

</head>

<body>
    <!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner" >
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
         <img  src="{% static 'img/index.png' %}" />
        <a class="navbar-brand" href="{% url 'director_index' %}" > 信息学院本科生毕业设计管理系统</a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span class="hidden-sm hidden-xs"> 用户名: </span>
                <span id="userid"> 异常</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a  onclick="changepwd_onclick()">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="/app/">退出</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

    </div>
</div>
    <!-- topbar ends -->
<div class="ch-container">

    <!-- system modal start -->
    <div id="ycf-alert" class="modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h3>
          </div>
          <div class="modal-body">
              <div class="input-group input-group-lg" >[Message]
              </div>
          </div>
          <div class="modal-footer" >
            <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
            <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
          </div>
        </div>
      </div>
    </div>
  <!-- system modal end -->

    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
         aria-hidden="true">
        <form class="form-horizontal" method="get" enctype="multipart/form-data" id="pwdform">
        <div class="modal-dialog">
            <div class="modal-content" role="document">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>修改密码</h3>
                </div>

                <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i>&nbsp;新密码</span>
                        <input id="newpwd" type="password" class="form-control" placeholder="Password" required="true">
                </div>
                <br>
                <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i>&nbsp;确认密码</span>
                        <input id="conpwd" type="password" class="form-control" placeholder="Password" required="true">
                </div>
                <div class="modal-footer">
                    <!-- style="display:none;"
                    <button type="button" id="disbutton" onclick="pwd_onclick()"  ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;确定修改</button>
                    -->
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;关闭</button>
                    <button type="button" class="btn btn-default" onclick="pwd_onclick()" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;确定修改</button>
                </div>
            </div>
        </div>
        </form>
    </div>


    <div class="row">
         <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        {% for menu1 in menus %}
                        {% if menu1 %}
                            <li class="nav-header"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;{{menu1.0.menu_classify}}</li>
                            {% for menu in menu1 %}
                                <li><a class="ajax-link" href="{{menu.menu_addr}}"><i class="glyphicon glyphicon-{{menu.menu_icon}}"></i><span>&nbsp;&nbsp;{{menu.menu_name}}</span></a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                        <div class="row">
                                     <div class="box col-md-12">
                                          <div class="box-inner">
                                               <div class="box-header well" data-original-title="">
                                                    <h2><i class="glyphicon glyphicon-user"></i>&nbsp;用户信息</h2>
                                               </div>
                                               <div class="box-content">
                                                    <ul class="dashboard-list">
                                                        <li>
                                                        <div class="row">
                                                             <div>
                                                               <span class="blue" style="width:150px;font-size:16px;">姓&nbsp;&nbsp;名:</span>
                                                               <label style="color: #999999;" id="name"> sss</label>
                                                             </div>

                                                             <div>
                                                               <span class="blue" style="width:150px;font-size:16px;">工&nbsp;&nbsp;号:</span>
                                                               <label style="color: #999999;" id="id"> sss</label>
                                                             </div>
                                                             <div>
                                                               <span class="blue" style="width:150px;font-size:16px;">研究所:</span>
                                                               <label style="color: #999999;" id="institution"> sss</label>
                                                             </div>
                                                             <div>
                                                               <span class="blue" style="width:150px;font-size:16px;">性&nbsp;&nbsp;别:</span>
                                                               <label style="color: #999999;" id="sex"> sss</label>
                                                             </div>
                                                             <div>
                                                               <span class="blue" style="width:150px;font-size:16px;">电&nbsp;&nbsp;话:</span>
                                                               <label style="color: #999999;" id="tel"> sss</label>
                                                             </div>
                                                        </div>
                                                        </li>
                                                    </ul>
                                               </div>
                                          </div>
                                     </div>
                                </div>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/app/director_index/" >毕业设计管理系统</a>
                    </li>
                    <li>
                        <a href="/app/director_number/">题目数量管理</a>
                    </li>
                </ul>
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2>题目数量管理</h2>
                    </div>
                    <div class="box-content">

                        <div class="form-group form-inline" id="tabletoolbar">

                                <div>

                                    <button id="btn_edit" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 设定题目数量 </button>


                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue"  style="width:150px;font-size:16px;">本所应分配题目下限：</span>
                                    <label style="color: #999999;" id="min"></label>
                                    &nbsp;&nbsp;

                                    &nbsp;&nbsp;&nbsp;<span class="blue"  style="width:150px;font-size:16px;">已分配题目数：</span>
                                    <label style="color: #999999;" id="topic_num"></label>
                                    &nbsp;&nbsp;
                                    &nbsp;&nbsp;<span class="blue"  style="width:150px;font-size:16px;">剩余应分配题目数：</span>
                                    <label style="color: #999999;" id="rest_num"></label>
                                    &nbsp;


                                </div>

                        </div>
                        <table id="tb_info"></table>

                </div>

        <div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
          <form class="form-horizontal" method="post" enctype="multipart/form-data" id="uploadform"  role="form" onsubmit="formSubmit()">
            <div class="modal-dialog" style="width:550px;">
              <div class="modal-content" role="document">
                <div class="modal-header" style="height:50px;">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 >设定题目数量</h4>
                    <h4 hidden="true" id="mdlPara"></h4>
                </div>
                <div class="modsal-body" >
                  <div class="modsal-body" >
                    <div class="input-group input-group" style="margin:10px 0px 0px 30px;">
                        <!-- modal content begin -->

                        <div class="form-group has-warning" hidden="true">
                            <label class="col-sm-4 control-label">Id: </label>
                            <div class="col-sm-8 ">
                                <input type="text" name="Id" id="txtId" class="form-control" placeholder="Id">
                            </div>
                        </div>
                        <div class="form-group has-warning" hidden="true">
                            <label class="col-sm-4 control-label">教师工号：</label>
                            <div class=" col-sm-8" >
                                <input type="text" name="teacherid" id="teace" class="form-control" placeholder="教师工号" >
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-sm-4 control-label"style="width:200px;">教师姓名：</label>
                            <div class=" col-sm-4" style="width:300px;">
                                <input type="text" name="teacherid" id="teaname" class="form-control" placeholder="教师姓名" required="true" readonly="true">
                            </div>
                        </div>

                        <div class="form-group has-warning">
                            <label class="col-sm-4 control-label"style="width:200px;">题目数量：</label>
                            <div class=" col-sm-4" style="width:300px;">
                                <input type="text" name="teacherid"  id="topicnum" class="form-control" placeholder="题目数量" required="true">
                            </div>
                        </div>

                        <div class="form-group has-warning">
                            <label class="col-sm-4 control-label"style="width:200px;">专业：</label>
                            <div class=" col-sm-4" style="width:300px;">
                                <input type="text" name="teacherid"  id="major" class="form-control" placeholder="专业" required="true" readonly="true">
                            </div>
                        </div>

                        <!-- modal content end -->
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button id="topicadd"type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存 </button>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 关闭 </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>



<div class="modal fade" id="mdAddFile" tabindex="-1" role="dialog" aria-labelledby="mdlInformationLabel" aria-hidden="true">
            <form class="form-horizontal" method="post" enctype="multipart/form-data" id="formAddFile">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="height:50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="mdlAddFileTitle">上传文件</h4>
                    <h4 hidden="true" id="mdlAddFilePara"></h4>
                </div>
                <div class="modal-body">
                <div class="container col-md-16">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="input-group input-group" style="margin:10px 0px 0px 30px;">     <!-- modal content begin -->

                                    <div class="col-sm-8">

                                        {% csrf_token %}
                                        {{ form }}
                                        {{ uf.as_p }}
                                    </div>

                            <!-- modal content end -->
                            </div>
                        </div>

                    </div>
                </div>
                </div>

                <div class="modal-footer" id="myAddFileFooter">
                    <button class="btn btn-primary" onclick="btnAddFileSubmit()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> 保存 </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> 关闭 </button>
                </div>
              </div>
            </div>
            </form>>
        </div><!-- /.modal -->

                <div class="row">

                </div><!--/row-->
            </div><!--/#content.col-md-0-->
        </div><!--/fluid-row-->
    </div><!--/.fluid-container-->
</div>
<!-- external javascript -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>
<script src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'bower_components/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'js/jquery.noty.js' %}"></script>
<script src="{% static 'bower_components/responsive-tables/responsive-tables.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js' %}"></script>
<script src="{% static 'js/jquery.raty.min.js' %}"></script>
<script src="{% static 'js/jquery.iphone.toggle.js' %}"></script>
<script src="{% static 'js/jquery.autogrow-textarea.js' %}"></script>
<script src="{% static 'js/jquery.uploadify-3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.history.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-treeview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/message_cn.js' %}"></script>
<script type="text/javascript" src="{% static 'js/icheck.js' %}"></script>
<script type="text/javascript" src="{% static 'js/summernote.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/lang/summernote-zh-CN.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.zh-CN.min.js' %}"></script>


<script>


    $(function(){
        $('#userid').html(getCookie('userid'));
        $.getJSON("{% url 'director_getstuinfo' %}", function(ret){
            $('#name').html(ret.data[0].name);
            $('#sex').html(ret.data[0].sex);

            $('#id').html(ret.data[0].user_id);
            $('#tel').html(ret.data[0].tel);
            $('#institution').html(ret.institution[0].institution_name);
        });


    });

    function uptopic(){
                resetform();

            $('#mdlPara').html('');
            $('#topicModal').modal({backdrop: 'static', keyboard: false});

    }


    function changepwd_onclick(){
          $('#newpwd').val('');
          $('#conpwd').val('');
        $('#passwordModal').modal();
    }

    function pwd_onclick(){
        if(checkPwd()){
            if($('#newpwd').val()!=$('#conpwd').val()){
                Alert(
                {
                    msg: '两次密码输入不一致，请重新输入',
                });
            }
            else{
                $('#passwordModal').modal('hide');
                //$('#passwordModal').removeData("bs.modal");
                //$('#pwdform').submit();
                var new_pwd = $('#newpwd').val();
                $.get("{% url 'changepassword' %}?new_pwd="+new_pwd, function(ret){


                    Alert('密码修改成功！');
                });
            }
        }
    }

    function checkPwd(){
        if($('#newpwd').val() == ""){
            Alert("新密码不能为空");
            return false;
        }
        else if($('#conpwd').val() == ""){
            Alert("确认密码不能为空");
            return false;
        }
        return true;
    }
    function chineseSort(a, b){
        return a.localeCompare(b);
    }

</script>

<script>
var submit=1;
var aaa;
var bbb;
var x;
var y ;

function resetform(){
        $('#uploadform')[0].reset();
    }

function btnAddFile() {
        $('#mdAddFile').modal({backdrop: 'static', keyboard: false});
    }

function getCookie(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg)) {
            return decodeURI(arr[2]);
        }
        else
            return null;
    }
$("#topicadd").click(function () {

        add_info();

    });

    $(function(){
        $('#userid').html(getCookie('userid'));
        $('#company_name').html(('company_name'));
        var alltopicnum = 0;
        var dividedtopicnum = 0;


        var oTable = new TableInit();
        oTable.Init();

        var oButtonInit = new ButtonInit();
        oButtonInit.Init();
        $.getJSON("{% url 'supervisor_getmajor' %}", function(ret){
            $("<option value=\"-1\">全部专业</option>").appendTo($('#selectMajor'));

            for(var i=0; i < ret.length; i++){
                $("<option value="+ret[i]['id']+">  "+ret[i]['major']+" </option>").appendTo($('#selectMajor'));
            }
            $('#selectMajor').selectpicker('refresh');
        });

        $.getJSON("{% url 'director_getteacc' %}", function(ret){
            $("<option  value=\"-1\">全部老师</option>").appendTo($('#teacc'))
                for(var i=0; i < ret.length; i++){
                    $("<option value="+ret[i]['id']+">  "+ret[i]['name']+" </option>").appendTo($('#teacc'));
                }
            $('#teacc').selectpicker('refresh');
        });

        $.getJSON("{% url 'director_getteacher' %}", function(ret){

            for(var i=0; i < ret.length; i++){
                $("<option value="+ret[i]['id']+">  "+ret[i]['name']+" </option>").appendTo($('#teace'));
            }
            $('#teace').selectpicker('refresh');
        });

        $.getJSON("{% url 'director_get_alltopicnum' %}", function(ret){

            alltopicnum = ret.length;
            aaa=alltopicnum;
            $('#laballTopicnum').html(alltopicnum);


        });

        $.getJSON("{% url 'director_get_dividedtopicnum' %}", function(ret){

            for(var i=0; i < ret.length; i++){
                var a =parseInt(ret[i].topic_num)
                dividedtopicnum = dividedtopicnum+a;
            }
            bbb=dividedtopicnum;
            $('#labdevidedTopicnum').html(dividedtopicnum);
            resttopicnum = aaa-bbb;
            $('#restTopicnum').html(resttopicnum);
            if($('#restTopicnum').val()==''){
                 $('#restTopicnum').html(resttopicnum);
            }


        });

        $.getJSON("{% url 'director_get_minmax' %}", function(ret){

            $('#min').html(ret[0].min);

            $('#topic_num').html(ret[0].topic_num);

            $('#rest_num').html(ret[0].rest_num);




            //$('#labmax').html(ret[0].max);
            //$('#labmin').html(ret[0].min);
        });

    });




function refreshPage(){
        window.location.reload();
    }

function add_info() {
        var parameters = {
            teaccc:$('#teace').val(),
            id: $('#txtId').val(),
            topic_num: $('#topicnum').val()


        };
        if(validform().form()){
            var url = '';



            url = "{% url 'director_xiugaitopicnum' %}";

        }
        $.ajax({
                type: "POST",
                url: url,
                data: parameters,
                dataType: "json",
                success: function(data){
                    //dat = JSON.parse(data);
                    alert(data.message);
                    $('#topicModal').modal('hide');
                    $('#tb_info').bootstrapTable('refresh');
                    refreshPage();
                },
                error:  function(XMLHttpRequest, textStatus, errorThrown) {
                    //alert(XMLHttpRequest.status);
                    //alert(XMLHttpRequest.readyState);
                    //alert(textStatus);
                    alert('请检查数据并重试！');
                }
        });

}





function delete_info(id) {
        $.getJSON("{% url 'director_del_topic' %}?id="+id);
}


function adc_info() {
   var url = "{% url 'director_update_num' %}";
        var parameters = {

            teaccc:$('#teacc').val(),

            num2:$('#num2').val(),


        };
            $.ajax({
                type: "POST",
                url: url,
                data: parameters,
                dataType: "json",
                success: function(data){
                      x=100;
                    alert(data.message);
                    refresh();
                },
                error:  function(XMLHttpRequest, textStatus, errorThrown) {

                    alert('请检查数据并重试！');
                }
            });
   }


function add_topic() {
   var url = "{% url 'director_addtopic' %}";
        var parameters = {

            teaccc:$('#teacc').val(),

            name:$('#name').val(),

            intro:$('#intro').val(),
        };
            $.ajax({
                type: "POST",
                url: url,
                data: parameters,
                dataType: "json",
                success: function(data){
                   document.getElementById("name").value="";
                                      document.getElementById("intro").value="";
                    alert(data.message);

                    refresh();
                },
                error:  function(XMLHttpRequest, textStatus, errorThrown) {

                    alert('请检查数据并重试！');
                }
            });
   }


    function validform(){

        //^\d+$ 或 ^[1-9]\d*|0$
        if ($('#topicnum').val() == '') {
            alert('题目数量不能为空，请重新填写！');
	        return false;
        }

        if ($('#topicnum').val().match(/^\d+$/) == null) {
            alert('题目数量为整数，请重新填写！');
	        return false;
        }

        if ($('#topicnum').val()>4 ) {
            alert('分配题目数量最多为4个！');
	        return false;
        }


        return $("#uploadform").validate({
            rules : {
                txtCmpName : {
                    required : true
                },txtShortName : {
                    required : true
                },txtCmpContact : {
                    required : true
                },txtCmpTel : {
                    required : true
                }
            }
        });
    }


    var TableInit = function () {
        var oTableInit = new Object();

        oTableInit.Init = function () {
            $('#tb_info').bootstrapTable({
                url: '/app/get_teatoopicnum',            //请求后台的URL（*）

                method: 'get',                      //请求方式（*）
                toolbar: '#tabletoolbar',           //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                locale:'zh-CN',
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: false,                 //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮

                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 541,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                rowStyle: function (row, index) {
                    //这里有5个取值代表5中颜色['active', 'success', 'info', 'warning', 'danger'];
                    var strclass = "";
                    if (row.work_status == '未启用') {
                        strclass = 'danger'; //还有一个active
                    }
                    else {
                        return {};
                    }
                    return { classes: strclass }
                },

                columns:[ {
                    checkbox: true
                    }, {
                        title: "教师姓名",
                        field: 'name',
                        sortable : true,
                        valign: "middle",

                    },{
                        title: "题目数量",
                        field: 'topic_num',
                        sortable : true,
                        valign: "middle",
                        editable:true

                    },{
                        title: "专业",
                        field: 'major',
                        sortable : true,
                        valign: "middle",

                    }

                        ]

            });

           $('#tb_info').bootstrapTable('hideColumn', 'id');

        };



        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset, //页码
                sort: params.sort,
                major:$('#selectMajor').val(),
                order: params.order,
                search:params.search


            };
            return temp;
        };
        return oTableInit;
    };

    function refresh() {
        setTimeout(function() {
            $('#tb_info').bootstrapTable('refresh');
            $.getJSON("{% url 'director_get_minmax' %}", function(ret){

            $('#min').html(ret[0].min);

            $('#topic_num').html(ret[0].topic_num);

            $('#rest_num').html(ret[0].rest_num);




            //$('#labmax').html(ret[0].max);
            //$('#labmin').html(ret[0].min);
        });






        }, 500);
    }

$("<option  value=\"1\">1</option>").appendTo($('#stustu'));
$("<option  value=\"2\">2</option>").appendTo($('#stustu'));


var ButtonInit = function () {
    var oInit = new Object();
    var postdata = {};

    oInit.Init = function () {
        $.getJSON("{% url 'director_gettime' %}", function(ret){
             var select1_start=ret.date[0].superintendent_s;
             var select1_end=ret.date[0].superintendent_e;
             var today=new Date().toJSON().slice(0,10);
             var info = "对不起，您的操作未在规定时间范围内进行，请于"+select1_start+"至"+select1_end+"之间进行指派学生";
             $("#aaaaa").click(function () {
                 $('#userid').html(getCookie('userid'));
                 if((today>=select1_start)&&(today<=select1_end)){
                 var select = $("#tb_company").bootstrapTable('getSelections');
                 if (select.length > 1) {
                    Alert('只能选择一行进行编辑');
                    return;
                 }
                 if (select.length <= 0) {
                    Alert('请选择有效数据');
                    return;
                 }
                 if (select[0].topic==null){
                    edit_info(select[0].id);
                    refresh();
                 }
                 else{
                    Alert('不能给已选题目学生指派题目');}
                 }else
                    alert(info);
             });
             $("#btn_submit").click(function () {
                 submit=1;
                 submit_info();
             });
        });
    };
    return oInit;
};


$("#btn_delete").click(function () {

    var select = $("#tb_info").bootstrapTable('getSelections');
    if (select.length <= 0) {
        Alert('请选择有效数据');
        return;
    }

    if(window.confirm('确定删除?')){          //后台删除数据方法
        for (var k = 0, length = select.length; k < length; k++) {
            delete_info(select[k].id);
        }
        refresh();
        Alert('删除成功');
        return true;
    }else{
        return false;
    }
});
$("#btn_edit").click(function () {

    var select = $("#tb_info").bootstrapTable('getSelections');



    if (select.length > 1) {
          Alert('只能选择一行进行编辑');
          return;
    }
    if (select.length <= 0) {
          Alert('请选择一个教师');
          return;
    }
    id=select[0].id;


    resetform();
    $.getJSON("{% url 'director_numberbyid' %}?id="+id, function(ret){

            $('#txtId').val(id);
            $('#txtId').attr("disabled",true);
            $('#teaname').val(ret[0].name);
            $('#teace').val(ret[0].user_id);
            $('#topicnum').val(ret[0].topic_num);
            $('#major').val(ret[0].major);




        });
    $('#mdlPara').html(id);
    $('#topicModal').modal({backdrop: 'static', keyboard: false});

});


</script>

</body>
</html>